.question-block {
  border: 1px solid #ddd;
  padding: 10px;
  border-radius: 8px;
  margin-bottom: 10px;
  background: white;
}

input,
select,
button {
  width: 100%;
}

input[type='text'],
input[type='email'],
textarea {
  resize: none;
  font-size: 16px;
}

button {
  margin-bottom: 10px;
  margin-right: 10px;
  width: auto;
  padding: 10px 15px;
}

