<div class="container" *ngIf="questionnaire">
  <h2>{{ questionnaire.title }}</h2>
  <p>{{ questionnaire.description }}</p>
  <div class="question-list">
    <div *ngFor="let question of questionnaire.questions" class="question-item">
      <div class="question-text">
        <h3>{{ question.text }}</h3>
      </div>

      <div *ngIf="question.type === 'text'">
        <textarea
          [(ngModel)]="userAnswers[question?.id ?? -1]"
          (ngModelChange)="onAnswerChange(question.id, $event)"
          placeholder="Your answer"
        ></textarea>
      </div>

      <div *ngIf="question.type === 'single-choice'">
        <div *ngFor="let option of question.choices">
          <label>
            <input
              type="radio"
              name="question-{{ question.id }}"
              [value]="option"
              [(ngModel)]="userAnswers[question?.id ?? -1]"
              (ngModelChange)="onAnswerChange(question.id, $event)"
            />
            {{ option }}
          </label>
        </div>
      </div>

      <div *ngIf="question.type === 'multiple-choice'">
        <div *ngFor="let option of question.choices">
          <label>
            <input
              type="checkbox"
              [value]="option"
              [(ngModel)]="userAnswers[question?.id ?? -1]"
              (ngModelChange)="onAnswerChange(question.id, $event)"
            />
            {{ option }}
          </label>
        </div>
      </div>
    </div>
  </div>

  <div class="actions">
    <button (click)="onSubmit()">Submit</button>
  </div>

  <div class="time-taken" *ngIf="endTime">
    <p>Time taken: {{ (endTime - startTime) / 1000 }} seconds</p>
  </div>
</div>
